---
import DarkLogo from "../../assets/dark-logo.svg";
import PrimaryButton from "../buttons/PrimaryButton.astro";
---

<header class="bg-primary-blue/70 w-full flex justify-center z-10 absolute">
  <div
    class="header__container flex flex-row justify-between items-center custom-container py-6"
  >
    <DarkLogo height={52} />
    <nav>
      <ul class="flex items-center gap-8">
        <li>
          <a href="/" class="text-white hover:underline font-medium">INICIO</a>
        </li>
        <li>
          <a href="/productos" class="text-white hover:underline font-medium"
            >PRODUCTOS</a
          >
        </li>
        <li>
          <a href="/contacto" class="text-white hover:underline font-medium"
            >NOSOTROS</a
          >
        </li>
        <li>
          <a href="/contacto" class="text-white hover:underline font-medium"
            >CONTACTO</a
          >
        </li>
        <li>
          <PrimaryButton title="!Escríbenos YA!" />
        </li>
      </ul>
    </nav>
  </div>
</header>
