---
interface Props {
  title: string;
  className?: string;
}
const { title, className }: Props = Astro.props;
---

<div class={`bg-primary-orange w-fit h-fit px-6 py-2 rounded-md cursor-pointer ${className ?? ''}`}>
  <p class="text-white font-semibold text-lg">{title}</p>
</div>
