---
interface Props {
  title: string;
  color?: "primary-blue" | "yellow" | "primary-orange";
  className?: string;
  href?: string;
  target?: string;
}
const {
  title,
  color = "primary-orange",
  className,
  href = "#",
  target,
}: Props = Astro.props;

const colorClasses = {
  "primary-blue": "bg-primary-blue text-white",
  yellow: "bg-yellow-400 text-black",
  "primary-orange": "bg-primary-orange text-white",
};
---

<a
  href={href}
  target={target}
  class={`button flex items-center justify-center gap-2 w-fit h-fit px-6 py-2 rounded-md cursor-pointer overflow-hidden relative container ${colorClasses[color]} ${className ?? ""}`}
>
  <div class="flex flex-row gap-2 w-max items-center z-20">
    <slot name="preffix" />
    <p class="font-semibold text-lg w-max">{title}</p>
    <slot />
  </div>
  <div class="anim size-full z-10 bg-primary-blue"></div>
</a>

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .anim {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
</style>

<script>
  import gsap from "gsap";

  document.addEventListener("DOMContentLoaded", () => {
    const slideElm = document.querySelector(".button")!;
    const animElm = slideElm.querySelector(".anim")!;

    slideElm.addEventListener("mouseenter", enterCall);
    slideElm.addEventListener("mouseleave", leaveCall);

    const enterAnim = gsap.timeline();
    enterAnim.to(animElm, { left: "0%", duration: 0.5 });
    enterAnim.reversed(true);

    const leaveAnim = gsap.timeline();
    leaveAnim.to(animElm, { left: "100%", duration: 0.5 });
    leaveAnim.reversed(true);

    function enterCall() {
      if (!enterAnim.isActive()) enterAnim.restart();
    }
    
    function leaveCall() {
      if (!leaveAnim.isActive()) leaveAnim.restart();
    }
  });
</script>
