---
interface Props {
  title: string;
}
const { title }: Props = Astro.props;
---

<div class="border-primary-orange border w-fit px-6 py-2 rounded-md cursor-pointer">
  <p class="text-primary-orange font-semibold text-lg">{title}</p>
</div>
