@import "tailwindcss";
@theme {
  --color-primary-blue: #03071E;
  --color-primary-orange: #E8461A;
  --color-secondary-orange: #EC5526;
  --color-light-orange: #FEF4EE;
}

* {
  font-family: "Saira", sans-serif;
}
