@import "tailwindcss";
@theme {
  --color-primary-blue: #03071E;
  --color-primary-orange: #E8461A;
  --color-secondary-orange: #EC5526;
  --color-light-orange: #FEF4EE;
}

* {
  font-family: "Saira", sans-serif;
}

.custom-container {
  @apply w-[80%] max-w-[1600px] mx-auto;
}

.custom-section {
  @apply py-14 w-full;
}