/* Improved CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

p {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img,
picture,
video,
canvas svg {
  display: block;
  max-width: 100%;
}
