---
interface Props {
  image: string;
  alt?: string;
}

const { image, alt = "Imagen de Marca Aliada" } = Astro.props as Props;
---

<div class="flex justify-center items-center w-full overflow-hidden transition duration-300 opacity-100 hover:opacity-70 hover:scale-110 cursor-pointer ">
  <img
    class="w-full object-cover"
    src={`img/brands/${image}`}
    alt={alt}
  />
</div>
