<section class="custom-section bg-light-blue">
  <div class="custom-container flex">
    <div class="flex flex-col gap-4">
      <div class="flex flex-row items-center gap-8">
        <div class="flex flex-col gap-2 w-3/5 grow">
          <h2 class="text-start text-primary-orange text-2xl font-bold">
            Disponibilidad y Cobertura
          </h2>
          <p class="text-start text-xl text-pretty text-primary-blue">
            Atendemos de lunes a viernes de 9:00 a.m. a 6:00 p.m. y sábados de
            9:00 a.m. a 1:00 p.m.
          </p>
          <p class="text-start text-xl text-pretty text-primary-blue">
            Trabajamos con marcas líderes a nivel mundial que respaldan nuestras
            soluciones, garantizando productos certificados y confiables.
          </p>
          <p class="text-start text-xl text-pretty text-primary-blue">
            Realizamos despachos a todo el país con un tiempo estimado de
            entrega de <strong>3 a 5 días hábiles</strong>, sujeto a
            disponibilidad de inventario y ubicación del cliente.
          </p>
          <p class="text-start text-xl text-pretty text-primary-blue">
            Para destinos fuera del área metropolitana, los tiempos de entrega
            podrían extenderse y aplicarse cargos adicionales por envío.
          </p>
        </div>
        <img
          class="w-2/5 max-w-[400px] aspect-[16/10] rounded-md"
          src="src/assets/img/contact-info-img.webp"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
