---
import ContactData from "@components/common/ContactData.astro";
import ContactForm from "@components/common/ContactForm.astro";
---

<div class="custom-section bg-light-blue">
  <div class="custom-container flex flex-row justify-center items-center gap-20">
    <ContactForm />
    <ContactData />
  </div>
</div>
