---
import HeroSlide from "@components/common/HeroSlide.astro";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "swiper/css/effect-fade";
---

<section
  id="hero-carousel"
  class="hero-section relative aspect-[16/9] w-full overflow-hidden"
>
  <div class="swiper-wrapper flex items-center relative w-full">
    <HeroSlide
      image="hero-industrial-bg"
      title="CALIDAD Y GARANTÃA EN CADA PROCESO"
      buttonTitle="Explorar Productos"
    />
    <HeroSlide
      image="hero-construction-bg"
      title="1321321"
      buttonTitle="Explorar Productos"
      right
    />
    <HeroSlide
      image="hero-minery-bg"
      title="1321321"
      buttonTitle="Explorar Productos"
    />
    <HeroSlide
      image="hero-fishing-bg"
      title="1321321"
      buttonTitle="Explorar Productos"
      right
    />
  </div>
  <div class="hero-pagination absolute z-30 flex justify-center items-center mb-4">
  </div>
</section>

<style>
  .hero-section {
    max-height: calc(100dvh - 100px);
  }
</style>

<script>
  import Swiper from "swiper";
  import { Autoplay, Pagination, Navigation, EffectFade } from "swiper/modules";

  const swiper = new Swiper("#hero-carousel", {
    modules: [Autoplay, Pagination, Navigation, EffectFade],
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    effect: "fade",
    slidesPerView: 1,
    spaceBetween: 0,
    freeMode: true,
    loop: true,
    speed: 2000,
    pagination: {
      el: ".hero-pagination",
      clickable: true,
    },
  });
</script>
