---
import PrimaryFeatureCard from "@components/cards/PrimaryFeatureCard.astro";
import FastDeliveryIcon from "@assets/icons/fast-delivery.svg";
import CertificateIcon from "@assets/icons/certificate.svg";
import SpecialistIcon from "@assets/icons/specialist.svg";
import ContrastButton from "@components/buttons/ContrastButton.astro";
import IndustryCard from "@components/cards/IndustryCard.astro";
import ShieldIcon from "@assets/icons/shield.svg";
---

<section
  id="industries-section"
  class="custom-section relative overflow-hidden"
>
  <div
    class="absolute flex flex-row text-white font-semibold h-fit py-4 px-4 items-center bg-primary-orange z-20 text-xl -rotate-45 bottom-72 -right-90"
  >
    <div class="flex flex-row gap-6" id="industries-values">
      <ShieldIcon fill={"#fff"} />
      <p>EXPERIENCIA</p>
      <ShieldIcon fill={"#fff"} />
      <p>COMPROMISO</p>
      <ShieldIcon fill={"#fff"} />
      <p>SEGURIDAD</p>
      <ShieldIcon fill={"#fff"} />
      <p>CALIDAD</p>
      <ShieldIcon fill={"#fff"} />
      <p>CONFIANZA</p>
      <ShieldIcon fill={"#fff"} />
    </div>
  </div>
  <div class="industries-section__background absolute inset-0 -z-10">
    <div class="absolute inset-0 bg-white/95"></div>
    <img
      src="src/assets/img/industries-bg.webp"
      alt="Fondo Industrias EMG"
      class="w-full h-full object-cover"
    />
  </div>

  <div class="custom-container flex flex-col relative z-10 gap-14">
    <div class="flex flex-col md:flex-row justify-center gap-10">
      <PrimaryFeatureCard
        title="Asesoría Especializada"
        subtitle="Te guiamos según tu industria."
      >
        <SpecialistIcon width="70px" height="70px" />
      </PrimaryFeatureCard>
      <PrimaryFeatureCard
        title="Entrega rápida"
        subtitle="Recibe tus pedidos sin demoras."
      >
        <FastDeliveryIcon width="70px" height="70px" />
      </PrimaryFeatureCard>
      <PrimaryFeatureCard
        title="Productos Certificados"
        subtitle="Calidad y seguridad garantizadas."
      >
        <CertificateIcon width="70px" height="70px" />
      </PrimaryFeatureCard>
    </div>

    <div class="flex flex-row justify-center items-center gap-16">
      <div
        class="flex overflow-hidden h-[640px] 2xl:h-[850px] w-1/2 max-w-[700px] gap-6"
      >
        <div id="industries-left" class="flex flex-col gap-6 w-full">
          <IndustryCard
            title="Sector Industrial"
            image="industrial-card-bg"
            aspect="16/10"
          />
          <IndustryCard
            title="Sector de Construcción"
            image="construction-card-bg"
          />
          <IndustryCard
            title="Sector Petrolero"
            image="oil-card-bg"
            aspect="16/10"
          />
        </div>
        <div
          id="industries-right"
          class="flex flex-col gap-6 w-full relative 2xl:-top-30 -top-20"
        >
          <IndustryCard
            title="Sector Agrícola"
            image="agricultural-card-bg"
            aspect="16/10"
          />
          <IndustryCard title="Sector Minero" image="mining-card-bg" />
          <IndustryCard
            title="Sector Pesquero"
            image="fishing-card-bg"
            aspect="16/10"
          />
        </div>
      </div>
      <div id="industry-texts" class="flex flex-col gap-4 w-1/2 max-w-lg">
        <h2 class="text-3xl font-bold text-primary-blue text-pretty split">
          Soluciones seguras para cada industria
        </h2>
        <h3 class="text-2xl font-semibold text-primary-blue split">
          ¡Cada industria es única! <br /> Por eso, nuestras soluciones también lo
          son.
        </h3>
        <p class="text-xl text-primary-blue split">
          Diseñamos y adaptamos equipos de protección para las exigencias reales
          de cada sector, asegurando rendimiento, durabilidad y respaldo técnico
          donde más se necesita.
        </p>
        <ContrastButton title="Explorar Productos" />
      </div>
    </div>
  </div>
</section>

<script>
  import { gsap } from "gsap";

  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { SplitText } from "gsap/SplitText";

  document.addEventListener("DOMContentLoaded", () => {
    gsap.registerPlugin(SplitText, ScrollTrigger);

    gsap.from("#industries-values", {
      scrollTrigger: {
        trigger: "#industries-section",
        start: "top bottom",
        end: "bottom top",
        scrub: true,
      },
      x: -1300,
      ease: "power1.out",
    });

    gsap.from("#industries-right", {
      scrollTrigger: {
        trigger: "#industries-section",
        start: "top bottom",
        end: "bottom top",
        scrub: true,
      },
      y: 750,
      ease: "power1.out",
    });

    gsap.from("#industries-left", {
      scrollTrigger: {
        trigger: "#industries-section",
        start: "top bottom",
        end: "bottom top",
        scrub: true,
      },
      y: -750,
      ease: "power1.out",
    });

    document.fonts.ready.then(() => {
      const split = new SplitText("#industry-texts .split", { type: "words" });
      const target = document.getElementById("industry-texts");
      const button = document.querySelector("#industry-texts .button");

      const options = {
        root: null,
        threshold: 0.3,
      };

      const timeline = gsap.timeline();
      timeline
        .from(split.words, {
          duration: 0.5,
          x: 50,
          opacity: 0,
          ease: "power1.out",
          stagger: 0.02,
        })
        .from(
          button,
          {
            duration: 0.3,
            x: 70,
            opacity: 0,
            ease: "power1.out",
          },
          "-=0.5"
        );

      const observer = new IntersectionObserver((entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            timeline.restart();
            observer.unobserve(entry.target);
          }
        });
      }, options);

      if (target) observer.observe(target);
    });
  });
</script>
