---
import BrandCard from "@components/cards/BrandCard.astro";
import "swiper/css";
---

<section class="custom-section bg-light-blue">
  <div class="custom-container flex flex-col gap-2">
    <div class="flex flex-col gap-4">
      <h2 class="text-center text-primary-orange text-2xl font-bold">
        Nuestros aliados en Seguridad
      </h2>
      <p class="text-center text-xl text-primary-blue">
        Estas son las marcas líderes que respaldan nuestras soluciones y nos
        permiten ofrecer equipos confiables y certificados.
      </p>
    </div>
    <div class="w-full">
      <div class="swiper w-full" id="brand-carousel">
        <div class="swiper-wrapper flex items-center relative w-full">
          <div class="swiper-slide"><BrandCard image="msa-safety.png" /></div>
          <div class="swiper-slide"><BrandCard image="3M.png" /></div>
          <div class="swiper-slide"><BrandCard image="portwest.png" /></div>
          <div class="swiper-slide"><BrandCard image="showa.png" /></div>
          <div class="swiper-slide"><BrandCard image="truper.png" /></div>
          <div class="swiper-slide"><BrandCard image="deltaplus.png" /></div>
          <div class="swiper-slide"><BrandCard image="steelpro.png" /></div>
          <div class="swiper-slide"><BrandCard image="wypall.png" /></div>
          <div class="swiper-slide"><BrandCard image="caruzzo.png" /></div>
          <div class="swiper-slide"><BrandCard image="segpro.png" /></div>
          <div class="swiper-slide"><BrandCard image="clute.png" /></div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import Swiper from "swiper";
  import { Autoplay } from "swiper/modules";

  const swiper = new Swiper("#brand-carousel", {
    modules: [Autoplay],
    autoplay: {
      delay: 300,
      disableOnInteraction: false,
    },
    slidesPerView: 4,
    spaceBetween: 35,
    freeMode: true,
    loop: true,
    speed: 2000,
    breakpoints: {
      // when window width is >= 320px
      320: {
        slidesPerView: 5,
        spaceBetween: 50,
      },
      // when window width is >= 480px
      1366: {
        slidesPerView: 6,
        spaceBetween: 65,
      },
      1920: {
        slidesPerView: 7,
        spaceBetween: 80,
      },
    },
  });
</script>
