---
import SecondaryButton from "@components/buttons/SecondaryButton.astro";
import ProductCard from "@components/cards/ProductCard.astro";
import RightArrowIcon from "@assets/icons/right-arrow.svg";
import LeftCircleArrowIcon from "@assets/icons/left-circle-arrow.svg";
import RightCircleArrowIcon from "@assets/icons/right-circle-arrow.svg";
---

<section class="custom-section relative overflow-hidden">
  <div class="absolute size-full -z-10 inset-0">
    <div class="absolute size-full bg-primary-blue/80"></div>
    <img
      class="object-cover size-full"
      src="src/assets/img/products-section-bg.jpg"
      alt="Productos"
    />
  </div>
  <div class="flex flex-col custom-container relative z-10 gap-8">
    <div class="flex flex-row w-full justify-between items-center">
      <p class="text-white text-2xl font-semibold leading-12">
        Nuestros Productos
      </p>
      <SecondaryButton title="Más Productos">
        <RightArrowIcon stroke="#fff" />
      </SecondaryButton>
    </div>
    <div class="flex flex-row items-center justify-center gap-8">
      <div class="left-arrow">
        <LeftCircleArrowIcon />
      </div>
      <div class="carousel flex flex-row gap-6 overflow-x-auto flex-wrap">
        <ProductCard />
        <ProductCard />
        <ProductCard />
      </div>
      <div class="right-arrow">
        <RightCircleArrowIcon />
      </div>
    </div>
  </div>
</section>
