---
import SafetyTipCard from "@components/cards/SafetyTipCard.astro";
import { getCollection } from "astro:content";

const tips = await getCollection("tips");

console.log(tips);
---

<section class="safety-tips-section custom-section">
  <div class="custom-container flex flex-col gap-6">
    <div class="safety-tips-section__title-container flex flex-col gap-4">
      <h2 class="text-center text-primary-orange text-2xl font-bold">
        Consejos de Seguridad
      </h2>
      <div class="flex flex-col">
        <p class="text-center text-xl text-primary-blue">
          En <strong>EMG Suministro Safety</strong> sabemos que la prevención es
          la mejor herramienta para evitar accidentes.
        </p><p class="text-center text-xl text-primary-blue">
          Por eso, te compartimos recomendaciones clave para mantener ambientes
          de trabajo seguros y eficientes.
        </p>
      </div>
    </div>

    <div class="flex flex-row flex-wrap gap-6 justify-center">
      {
        tips.map((tip) => (
          <SafetyTipCard
            title={tip.data.title}
            description={tip.data.description}
            image={tip.data.image}
            number={tip.data.number}
          />
        ))
      }
    </div>
  </div>
</section>
<script>
  import {
    sectionIntersectionObserver,
    sectionTitleUpAnimation,
    scaleEnterAnimation,
    scaleLeaveAnimation,
  } from "@functions/animations";
  import { gsap } from "gsap";

  import { SplitText } from "gsap/SplitText";

  document.addEventListener("DOMContentLoaded", () => {
    gsap.registerPlugin(SplitText);

    const section = document.querySelector(".safety-tips-section")!;
    const title = document.querySelector(
      ".safety-tips-section__title-container h2"
    )!;
    document.fonts.ready.then(() => {
      const splitDescription = new SplitText(
        ".safety-tips-section__title-container p",
        {
          type: "words",
        }
      );

      const observer = sectionIntersectionObserver(() => {
        sectionTitleUpAnimation([title, ...splitDescription.words]);
      });

      observer.observe(section);

      const safetyTipCards = document.querySelectorAll(".safety-tip-card");
      safetyTipCards.forEach((card) => {
        card.addEventListener("mouseenter", () => {
          scaleEnterAnimation([card], 0.1);
        });
        card.addEventListener("mouseleave", () => {
          scaleLeaveAnimation([card], 0.1);
        });
      });
    });
  });
</script>
