---
import { getCollection, getEntry } from "astro:content";
import HeaderBanner from "../components/common/HeaderBanner.astro";
import PrincipalHeader from "../components/headers/PrincipalHeader.astro";
import Layout from "../layouts/Layout.astro";
import HeroSection from "@components/sections/HeroSection.astro";
import HighlightBanner from "@components/common/HighlightBanner.astro";
import IndustriesSection from "@components/sections/IndustriesSection.astro";
import ProductsSection from "@components/sections/ProductsSection.astro";
import FeatureSeparator from "@components/common/FeatureSeparator.astro";
import CategoriesSection from "@components/sections/CategoriesSection.astro";
import SafetyTipsSection from "@components/sections/SafetyTipsSection.astro";
import ElectroSection from "@components/sections/ElectroSection.astro";
import OurAlliesSection from "@components/sections/OurAlliesSection.astro";
import Footer from "@components/common/Footer.astro";

const aux = await getCollection("products");

console.log(aux);
---

<Layout title="EMG Suministros Safety">
  <HeaderBanner />
  <PrincipalHeader />
  <HeroSection />
  <HighlightBanner
    buttonTitle="Contáctanos"
    title="La seguridad es una inversión en bienestar y productividad..."
    href="/contacto"
  />
  <IndustriesSection />
  <ProductsSection />
  <FeatureSeparator />
  <CategoriesSection />
  <HighlightBanner
    buttonTitle="Solicitar asesoría"
    title="La seguridad es una inversión en bienestar y productividad..."
    href="https://wa.me/51922297479?text=Hola%20EMG%2C%20me%20gustar%C3%ADa%20recibir%20asesor%C3%ADa%20en%20temas%20de%20seguridad.%20%C2%BFC%C3%B3mo%20podemos%20coordinar%3F"
  >
    <p class="text-white text-xl max-w-5xl split">
      En <strong>EMG</strong> trabajamos contigo para que cada espacio de trabajo
      esté protegido con equipos certificados, asesoría profesional y soluciones
      a la medida.
    </p>
    <strong class="text-white text-lg font-semibold split"
      >Tu seguridad no espera. Nosotros tampoco.</strong
    >
  </HighlightBanner>
  <SafetyTipsSection />
  <ElectroSection />
  <OurAlliesSection />
  <Footer />
</Layout>
