<section>
  <iframe
    class="aspect-[16/4] w-full"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9430.276645889422!2d-77.09557433137248!3d-11.976512091344887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105cfcbc158a2e1%3A0x465526eac8b20963!2sAv.%20Proceres%2Clos%20olivos!5e0!3m2!1ses-419!2spe!4v1750053195502!5m2!1ses-419!2spe"
    style="border:0;"
    
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  >
  </iframe>
</section>
