---
import ShieldIcon from "@assets/icons/shield.svg";
---

<div
  class="feature-separator flex flex-row gap-6 justify-center items-center text-primary-blue w-full py-3 font-semibold text-lg border-b border-primary-blue/50"
>
  <ShieldIcon />
  <p class="split">Seguridad</p>
  <ShieldIcon />
  <p class="split">Experiencia</p>
  <ShieldIcon />
  <p class="split">Calidad</p>
  <ShieldIcon />
  <p class="split">Garantía</p>
  <ShieldIcon />
  <p class="split">Especialización</p>
  <ShieldIcon />
</div>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  document.addEventListener("DOMContentLoaded", () => {
    gsap.registerPlugin(ScrollTrigger);

    gsap.to(".feature-separator", {
      scale: 1.1,
      gap: 50,
      ease: "power1.out",
      scrollTrigger: {
        trigger: ".feature-separator",
        start: "top bottom",
        end: "bottom top",
        scrub: 0.5,
      },
    });
  });
</script>
