---
import ShieldIcon from "@assets/icons/shield.svg";
---

<div
  class="flex flex-row gap-6 justify-center items-center text-primary-blue w-full py-3 font-semibold text-lg border-b border-primary-blue/50"
>
  <ShieldIcon />
  <p>Seguridad</p>
  <ShieldIcon />
  <p>Experiencia</p>
  <ShieldIcon />
  <p>Calidad</p>
  <ShieldIcon />
  <p>Garantía</p>
  <ShieldIcon />
  <p>Especialización</p>
  <ShieldIcon />
</div>
