---
import DarkLogo from "@assets/dark-logo.svg";
---

<footer class="bg-primary-blue text-white text-center py-8">
  <div class="custom-container flex flex-col gap-4">
    <div class="flex flex-row justify-between">
      <div class="flex flex-col gap-3 w-full max-w-sm">
        <DarkLogo />
        <p class="text-start">
          EMG es una empresa especializada en brindar soluciones integrales de
          seguridad industrial. Comprometidos con la prevención, protegemos a
          las personas y mejoramos entornos laborales en todo el país.
        </p>
      </div>
      <div class="flex flex-row gap-20">
        <div class="flex flex-col gap-3 text-start">
          <strong>Enlaces</strong>
          <ul class="max-w-[300px] text-start flex flex-col gap-2">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
        <div class="flex flex-col gap-3 text-start">
          <strong>Contacto</strong>
          <ul class="max-w-[300px] text-start flex flex-col gap-2">
            <li>
              <a href="#"
                >Dirección: Av Los Próceres Urbanización puerta de Pro Mz K4
                Lote 1</a
              >
            </li>
            <li><a href="#">Asesor 1: +51 922 297 479</a></li>
            <li><a href="#">Asesor 2: +51 957 277 506</a></li>
            <li><a href="#">Correo: ventas@emgsuministros.pe</a></li>
          </ul>
        </div>
      </div>
    </div>

    <hr class="w-full border-gray-300" />
    <p class="mt-2">2025 EMG Suministros Safety S.A.C.</p>
  </div>
</footer>
