---
import PrimaryButton from "@components/buttons/PrimaryButton.astro";
import RightArrowIcon from "@assets/icons/right-arrow.svg";

interface Props {
  title: string;
  image: string;
  buttonTitle: string;
  right?: boolean;
  id?: string;
}
const { title, image, buttonTitle, right = false, id } = Astro.props as Props;
---

<div class="swiper-slide" id={id}>
  <div
    class="hero-content absolute flex flex-col justify-center size-full z-0 pt-[100px]"
  >
    <div
      class={`custom-container flex flex-col gap-6 ${right ? "items-end" : "items-start"}`}
    >
      <h1
        class="text-5xl 2xl:text-7xl 2xl:leading-22 2xl:max-w-xl text-white font-bold max-w-md leading-16"
      >
        {title}
      </h1>
      <PrimaryButton title={buttonTitle}>
        <RightArrowIcon stroke="#fff" />
      </PrimaryButton>
    </div>
  </div>
  <div class="hero-image absolute inset-0 size-full -z-10">
    <img
      class="size-full object-cover"
      src=`img/${image}.webp`
      alt="Hero Image"
    />
  </div>
</div>
