---
import SecondaryButton from "@components/buttons/SecondaryButton.astro";
---

<section class="bg-primary-orange custom-section w-full">
    <div class="custom-container flex flex-row justify-between">
        <p class="font-bold text-white text-2xl leading-11">La seguridad es una inversión en bienestar y productividad...</p>
        <SecondaryButton title="Contáctenos" />
    </div>
</section>