---
import SearchIcon from '@assets/icons/search.svg';
---
<div class="flex flex-row w-full">
    <input type="text" class="px-4 py-2 bg-white rounded-l-sm border border-gray-300 focus:outline-none focus:ring-0 grow" placeholder="Ej: Chalecos" />
    <button class="flex p-2 items-center justify-center bg-primary-orange rounded-r-sm text-white">
        <SearchIcon />
    </button>
</div>